In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_pickle('COVID_Hopkins_df.pickle')

In [5]:
df.tail()

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,Datetime,PopTotal,Confirmed Cases Per 1M
10423,3/23/20,Zimbabwe,3,1,0,2,2020-03-23,14862.927,0.201844
10424,3/24/20,Zimbabwe,3,1,0,2,2020-03-24,14862.927,0.201844
10425,3/25/20,Zimbabwe,3,1,0,2,2020-03-25,14862.927,0.201844
10426,3/26/20,Zimbabwe,3,1,0,2,2020-03-26,14862.927,0.201844
10427,3/27/20,Zimbabwe,5,1,0,4,2020-03-27,14862.927,0.336407