In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

In [3]:
global_df = pd.read_pickle('data/COVID_Hopkins_df.pickle')

In [4]:
global_df.tail()

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,Datetime,PopTotal,Confirmed Cases Per 1M,New Weekly Cases
11845,4/1/20,Zimbabwe,8,1,0,7,2020-04-01,14862.927,0.538252,5.0
11846,4/2/20,Zimbabwe,9,1,0,8,2020-04-02,14862.927,0.605533,6.0
11847,4/3/20,Zimbabwe,9,1,0,8,2020-04-03,14862.927,0.605533,4.0
11848,4/4/20,Zimbabwe,9,1,0,8,2020-04-04,14862.927,0.605533,2.0
11849,4/5/20,Zimbabwe,9,1,0,8,2020-04-05,14862.927,0.605533,2.0

In [5]:
us_df = pd.read_pickle('data/CSSE_US_df.pickle')

In [6]:
us_df.tail()

,Date,State,Confirmed,State_code,Deaths,Datetime,New_Weekly_Cases
3970,4/1/20,Wyoming,130,WY,0,2020-04-01,86.0
3971,4/2/20,Wyoming,150,WY,0,2020-04-02,97.0
3972,4/3/20,Wyoming,162,WY,0,2020-04-03,92.0
3973,4/4/20,Wyoming,187,WY,0,2020-04-04,105.0
3974,4/5/20,Wyoming,197,WY,0,2020-04-05,111.0

In [8]:
fig = px.sunburst(us_df, path=['Confirmed', 'Deaths'], values='Confirmed')
fig.show()

TypeError: sunburst() got an unexpected keyword argument 'path'