In [5]:
from zipfile import ZipFile
import pandas as pd
import kaggle
import seaborn as sns
import matplotlib.pyplot as plt
import os
sns.set()

In [2]:
kaggle.api.authenticate()
url='sudalairajkumar/novel-corona-virus-2019-dataset'

In [10]:
data_path='data_covid_19'
if not os.path.exists(data_path):
        os.makedirs(data_path)
kaggle.api.dataset_download_files(url,path=data_path,unzip=True)
data_files = [f for f in os.listdir(data_path) if os.path.isfile(os.path.join(data_path, f))]

In [11]:
data_files

['COVID19_line_list_data.csv',
 'COVID19_open_line_list.csv',
 'covid_19_data.csv',
 'time_series_covid_19_confirmed.csv',
 'time_series_covid_19_deaths.csv',
 'time_series_covid_19_recovered.csv']

In [22]:
df = pd.read_csv(data_path+'/'+data_files[2])
print(df.shape)
df.head()

(6162, 8)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0